.container {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid lightgray;

  text-decoration: none;
  color: black;
}

.container > img {
  width: 100px;
}

.container > article > h4 {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 5px;
}

.container > article > h5 {
  margin-top: 0;
}

.container > article > footer {
  color: gray;
  font-size: 12px;
}
